<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Despliegue Backend</title>
    <style>
/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
  
h1, h2 {
    color: #333;
}
  
a {
    color: #007bff;
    text-decoration: none;
}
  
  /* Estilos de encabezado */
header {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
}
  
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
nav li {
    display: inline-block;
    margin-right: 10px;
}
  
  /* Estilos de contenido principal */
main {
    padding: 20px;
}
  
  /* Estilos de pie de página */
footer {
    background-color: #f8f8f8;
    padding: 10px;
    text-align: center;
    font-size: 12px;
    color: #666;
}
    </style>
  </head>
  <body>
    <header>
      <h1>Bienvenidos a mi pagina principal de despliegue de Backend</h1>
      <nav>
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="/integrantes">Integrantes</a></li>
          <li><a href="/products">Productos</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <h2>¡Bienvenido, somos el grupo #1!</h2>
        <p>Este es un ejemplo basico de el despliegue de un backnd</p>
      </section>
    </main>
    <footer>
      <p>Derechos de autor einarr07&copy; 2023 | Despliegue Backend</p>
    </footer>
  </body>
</html>
